{{!-- menu_fixed : sidebar 고정 --}}
<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="/" class="site_title">
        <img src="/icon/logo/logo.png" width="50"/>
        <span>{{service.name}} admin</span>
      </a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    {{> sidebar-profile}}
    <!-- /menu profile quick info -->

    <br/>

    <!-- sidebar menu -->
    {{> sidebar-menu}}
    <!-- /sidebar menu -->

    <br/>

    <!-- /menu footer buttons -->
    {{> sidebar-footer}}
    <!-- /menu footer buttons -->
  </div>
</div>
