<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="/" class="site_title">
        <span>{{service.name}} admin</span>
      </a>
    </div>

    <div class="clearfix"></div>

    <br/>

    <!-- menu profile quick info -->
    {{> sidebar_profile}}
    <!-- /menu profile quick info -->

    <!-- sidebar menu -->
    {{> sidebar_menu}}
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    {{> sidebar_footer}}
    <!-- /menu footer buttons -->
  </div>
</div>
