<div class="profile clearfix">
  <div class="profile_pic">
    <img src="/img/img.jpg" alt="..." class="img-circle profile_img">
  </div>
  <div class="profile_info">
    <span>Welcome,</span>
    <h2>Yoonseok Oh</h2>
  </div>
</div>

<br />